/* ==============================
   Global Styles 
   ============================== */

#ticket_found {
    font-size: 18px;
    color: #2c3e50; /* Example color */
    margin-bottom: 10px;
    border-bottom: 3px solid #8fd3f4;
    /* background: linear-gradient(45deg, #84fab0 0%, #8fd3f4 100%); */
    transition: background-color 0.3s, color 0.3s;
    /* font-family: 'Roboto', sans-serif; Using Roboto for ticket_found */
    font-family: 'Press Start 2P', cursive;
}

#contact_name {
    font-size: 16px;
    color: #34495e; /* Example color */
    border-bottom: 3px solid #8fd3f4;
    /* background: linear-gradient(45deg, #fa8e6b 0%, #f97794 100%); */
    transition: background-color 0.3s, color 0.3s;
    /* font-family: 'Open Sans', sans-serif; /* Using Open Sans for contact_name */
    font-family: 'Press Start 2P', cursive;
}

#ticket_found:hover,
#contact_name:hover {
    background-color: #f5f5f5;
    font-weight: bold;
    text-shadow: 1px 1px 3px rgba(0, 0, 0, 0.1);
}

@keyframes pulse {
    0% {
        transform: scale(1);
    }
    50% {
        transform: scale(1.05);
    }
    100% {
        transform: scale(1);
    }
}

#ticket_found.show,
#contact_name.show {
    animation: pulse 0.5s;
}

/* Base button styles */
button {
    height: 30px;
    width: 160px;
    outline: none;
    border: 1px solid #ccc;   /* Border added for more definition */
    border-radius: 4px;       /* Rounded corners for softer look */
    background-color: #fff;   /* Default background color */
    cursor: pointer;          /* Hand cursor for interactivity */
    padding: 5px 10px;        /* Some padding for better visual appearance */
    font-size: 14px;          /* Font size for clarity */
    transition: background-color 0.3s;
}

/* Button hover effect */
button:hover {
    background-color: #f5f5f5; /* Slightly different gray to indicate hover */
}

/* ==============================
   Utility Styles 
   ============================== */

/* Hidden button styles */
.hidden-btn {
    display: none;
}

/* General hidden class */
.hidden {
    display: none;
}
